.main-list {
  width: 91vw;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 36px 24px;
}
.main-item {
  cursor: pointer;
}
.img_padding {
  padding-top: 100%;
  position: relative;
}

.item-img_wrapper {
  display: flex;
  border-radius: 16px;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.favorite_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: rgb(110, 110, 110);
  cursor: pointer;
  z-index: 30;
}
.item-img_aboluste {
  display: flex;
  transition: all 1s ease;
}
.item-img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  object-fit: cover;
  flex-shrink: 0;
}
.loading_img_item {
  height: 300px;
  background-color: rgb(188, 222, 255);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading_animation 2s ease infinite;
}
@keyframes loading_animation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.img_nav {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 90px 2px rgb(31, 31, 31);
}
.img_nav_element {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(166, 166, 166);
  transition: all 1s ease;
}
.main-item:hover .img_nav_icon {
  opacity: 100;
}
.img_nav_icon {
  z-index: 30;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 0 10px;
  transition: all 0.25s ease;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.022);
  cursor: pointer;
}
.img_nav_icon_right {
  left: auto;
  right: 0;
}
.element_active {
  background-color: white;
  width: 8px;
  height: 8px;
}
.item-text {
  margin-top: 15px;
}
.item-text-title {
  display: flex;
  align-items: flex-start;
}
.item-text-title h2 {
  flex-grow: 2;
  font-size: 1.2rem;
  font-weight: 500;
  word-break: keep-all;
}
.item-text-grade {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-text-para {
  color: rgb(99, 99, 99);
  overflow: hidden;
  margin: 10px 0;
}
.item-text-para p {
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  line-height: 1.2;
}
.item-text-accommodate {
  margin-bottom: 10px;
}
.item-text-price::before {
  content: "￦";
}
.item-text-price::after {
  content: "/박";
  font-size: 0.95em;
  margin-left: 5px;
}

.one_scroll {
  transform: translateX(-100%);
}
.two_scroll {
  transform: translateX(-200%);
}
.three_scroll {
  transform: translateX(-300%);
}
.four_scroll {
  transform: translateX(-400%);
}

.img_nav_icon.disabled {
  display: none;
}

.item-favorite_active {
  animation: favoriteToggle 0.2s ease-in-out alternate;
  animation-fill-mode: forwards;
}

@keyframes favoriteToggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    color: dodgerblue;
    box-shadow: none;
    opacity: 1;
  }
}
