.main-wrapper{
  position: relative;
  z-index:800
}
.main-filter{
  position: fixed;
  width:100%;
  z-index:900;
  left:0;
  top:105px;
  padding-top: 20px;
  background-color: white;
  transition: padding 0.2s ease;
}
.scroll_filter{
  padding: 5px;
  border-bottom: 0.5px solid rgb(226, 226, 226);
}
