.modal{
  padding:2rem;
  display: flex;
  flex-direction: column;
  height:100%;
}
.modal-title{
  font-weight: 500;
  font-size:1.2rem;
  margin-bottom: 2rem
}
.modal-grid{
  flex-grow: 1;
  display: grid;
  grid-template: repeat(2,1fr)/repeat(3,1fr);
  grid-gap:2.5rem 1rem;
}
.modal-grid-item{
  display: flex;
  flex-direction: column;
}
.item-image{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  border-radius: 1rem;
  box-shadow:0 1px 2px rgb(199, 199, 199);
  border: 1px solid rgb(219, 219, 219);
  cursor: pointer;
}
.item-image:hover{
  border: 1px solid black
}
.item-image img{
  width: 100%;
  vertical-align: top;
}
.item-text{
  margin-top:6px;
  flex-grow: 0;
  font-family: inherit;
  font-weight: inherit;
}